@charset "UTF-8";
/* *************************** */
/*      _______________        */
/* ____/  Init lyaout  \_______*/
html, body {
  min-height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --html-color: #3b1616;
  --css-color: #5c4719;
  --js-color: #063120;
  --php-color: #061326;
  --sql-color: #2c052d;
  --body-background: white;
}

/******************  */
/*      header       */
/* ***************** */
header {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 10%;
}

/* NavBar */
.navbar {
  display: flex;
  min-width: 100%;
  min-height: 10%;
  align-items: center;
  background-color: #333;
}

.navbar-icon img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.dropbtn {
  background-color: #333;
  color: white;
  padding: 10px 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content, .sub-dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.sub-dropdown {
  left: 100%;
  top: 0;
}

.dropdown-content a, .sub-dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content, .dropdown-content:hover .sub-dropdown {
  display: block;
}

.dropdown-content a:hover, .sub-dropdown a:hover {
  background-color: #f1f1f1;
}

/* Hero-ban */
.hero-ban {
  display: flex;
  min-width: 80vh;
  min-height: 80vh;
  background-color: #241f2e;
}

.row-W {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10px;
}

.coln-h {
  width: 10px;
  height: 100%;
}

.coln-H {
  width: 10px;
  height: 100%;
}

/****************** */
/*      main        */
/* ***************** */
main {
  display: flex;
  min-width: 100%;
  min-height: 84%;
}

.step-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.windows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(179, 179, 179);
  min-width: 100%;
  min-height: 610px;
}

.step {
  border-radius: 10px;
}

.step {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(179, 179, 179);
  min-width: 100%;
  min-height: 100%;
  gap: 20px;
}

.step1 {
  width: 70%;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--html-color);
}
.step1:hover {
  width: 90%;
  height: 100%;
  background-color: #322222;
}

.step2 {
  width: 70%;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--css-color);
}
.step2:hover {
  width: 90%;
  height: 100%;
  background-color: #2a1e2b;
}

.step3 {
  width: 70%;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--js-color);
}
.step3:hover {
  width: 90%;
  height: 100%;
  background-color: #241f2e;
}

.step4 {
  width: 70%;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--php-color);
}
.step4:hover {
  width: 90%;
  height: 100%;
  background-color: #16211c;
}

.step5 {
  width: 70%;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--sql-color);
}
.step5:hover {
  width: 90%;
  height: 100%;
  background-color: #55543a;
}

.btn-circle {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: black;
  color: rgb(197, 190, 203);
  font-size: smaller;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.btn-circle:hover {
  width: 64px;
  height: 64px;
  font-size: larger;
}

section {
  display: flex;
  flex-direction: column;
  background-color: #333;
  width: 15%;
}

.init_td {
  background-color: #2a633b;
}

.init_row {
  display: flex;
  flex-direction: row;
  background-color: #2a633b;
}

.init_coln {
  min-width: 10px;
  background-color: #2a4163;
}

td {
  background-color: #b07118;
}

/* div content */
/******************  */
/*      footer       */
/* ***************** */
footer {
  display: flex;
  min-width: 100%;
  min-height: 5%;
  background-color: #333;
}

/* ================================== */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Break point F device @media screwn } */
  /* *************************** */
  /*      _______________        */
  /* ____/  Init lyaout  \_______*/
  html, body {
    min-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  /* IOS android */
  /******************  */
  /*      header       */
  /* ***************** */
  /****************** */
  /*      main        */
  /* ***************** */
  /* div content */
  /******************  */
  /*      footer       */
  /* ***************** */
  /* ================================== */
}
/* [📱]-{Desktop}- responsive */
@media (min-width: 1053px) and (max-width: 1440px) {
  /* *************************** */
  /*      _______________        */
  /* ____/ 📱Init lyaout  \_______*/
  html, body {
    min-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  /******************  */
  /*      header       */
  /* ***************** */
  /****************** */
  /*      main        */
  /* ***************** */
  /* div content */
  /******************  */
  /*      footer       */
  /* ***************** */
  /* ================================== */
}
/* [💻]-{Desktop}- responsive */
@media (min-width: 1053px) and (max-width: 1440px) {
  /* ----------------------------- */
  /*      _________________        */
  /* ____/ 💻 Init lyaout  \_______*/
  html, body {
    min-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  /******************  */
  /*      header       */
  /* ***************** */
  /****************** */
  /*      main        */
  /* ***************** */
  /* div content */
  /******************  */
  /*      footer       */
  /* ***************** */
  /* ================================== */
}

/*# sourceMappingURL=index.css.map */
